Đảm bảo Form.Item không dùng flex
.ant-form-item {
  display: block !important;
}

.ant-form-item-explain {
  display: block !important;
  margin-top: 4px;
  color: red !important; 
  text-align: left !important;
  font-size: 14px; 
  width: 100%;
}
.ant-form-item-control {
  width: 100% !important;
}
.text-blue-500 {
    color: red !important; 
  }
  

  